<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xmlns:p="http://www.springframework.org/schema/p"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<aop:config proxy-target-class="true">
		<aop:aspect id="time" ref="student1">
			<aop:pointcut id="addAllMethod" expression="execution(* org.w3c.*(..))" />
		</aop:aspect>
	</aop:config>

	<bean id="student1" class="com.revert.sread.bean.Student" scope="singleton">
		<property name="name" value="xiecong"/>
		<property name="code" value="001"/>
	</bean>

	<bean id="TT" class="com.revert.sread.bean.Tea" autowire="constructor">
		<property name="name" value="Tec"/>
	</bean>

</beans>